#container{ background-color:#f0f0f0; min-width:320px; }
.dealMenu{ padding:0 32px; }
.dealMenu ul li { float:left; width:33%; }
.dealMenu ul li a{ width:100%; height:30px; margin: 5px 0; line-height:30px; float:left; color:#fff; font-size:16px; text-align:center; }
.a_active{ background-color:#8a1726; }
.a_dealDay{ border:solid 1px #8a1726; border-right:0; border-radius:4px;}
.a_dealHistory{ border:solid 1px #8a1726; border-left:0; border-radius:4px;}
.header{ height:40px; background-color:#a11e2c; line-height:40px; }







.information{ padding:0 26px; overflow:hidden;}
.information ul li{ width:25%; float:left; height:37px;line-height:37px; text-align:center; background-color:#dfdfdf; font-size:14px;}
.information_title{ overflow:hidden; }
.information_title .product_li{ width:50%; height:37px;line-height:37px; text-align:left;text-indent:20px; }

.information_data{ margin-bottom:100px; overflow: hidden;}
.information_data ul li{ height:62px;line-height:62px; text-align:center; background-color:#fff; }
.information ol li div{ height:62px; line-height:62px; float:left;}
.information ol li { padding:10px 0; }
.information ol li .left{ width:50%; }
.information ol li .left p{ height:20px; line-height:20px; text-indent:10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.information ol li .right{ width:50%; }
.information ol li .right span{ width:50%; display:block; float:left; text-align:center; }
.information_data .odd{ background-color:#fff; overflow: hidden;}
.information_data .even{ background-color:#ebebeb; overflow: hidden;}

.positive{ color:#da1310; }
.negative{ color:#2c8e17; }