#content table {
	text-align: center;
	width: 100%;
	color: #1e1e1e;
	border-spacing: 0;
	padding-bottom: 10px;
}

/*title */
#title table td:first-child, #title table th:first-child {
	padding-left: 10px;
}
#title table td:last-child, #title table th:last-child {
	padding-right: 10px;
}
#title table thead {
	background-color: #eeeeee;
}
#title table thead tr {
	height: 25px;
	line-height: 25px;
}
#title table thead tr th {
	font-size: 12px;
	border-bottom: solid 1px #c5c5c5;
	font-weight: normal;
}
#title table thead tr th:first-child {
	text-align: left;
	width: 40%;
	padding-left: 20px;
}
#title table tbody {
	background-color: #f5f5f5;
	font-weight: bold;
}
#title table tbody tr:first-child {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
#title table tbody tr:last-child {
	height: 20px;
	line-height: 20px;
	font-size: 11px;
}
#title table tbody tr:last-child td{
	padding-bottom: 10px;
	border-bottom: solid 1px #c5c5c5;
}
#title table tbody tr:last-child span{
	font-weight: normal;
}
#title table tbody tr td:first-child {
	text-align: left;
}

/* current price */
#current_price {
	padding: 0 10px;
	background-color: #f9f7f3;
	overflow: hidden;
}
#current_price .price-left {
	width: 60%;
	float: left;
}
#current_price .price-left p{
    float: left;
}
#current_price .price-left .price {
	float: left;
	width: 80%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}
#current_price .price-right {
	width: 40%;
    float: right;
    padding-top: 14px;
}

#current_price .price-right .sell-out, #current_price .price-right .buy-in {
    float: left;
    width: 48%;
    text-align: center;
    height: 54px;
    line-height: 54px;
}


/* deadline */
#deadeline .btn-bg {
	width: 100%;
}
#deadeline .btn-bg .selector-down-text {
	text-align: center;
	height: 28px;
	line-height: 28px;
}
#triangle_down {
	float: right;
}

/* stop loss and take profit */
#loss_and_profit .loss, #loss_and_profit .profit {
    width: 100%;
    float: left;
}
#loss_and_profit .loss {
    padding-top: 15px;
    padding-bottom: 10px;
}
#loss_and_profit .profit {
    padding-bottom: 15px;
}
#loss_and_profit .loss .squared, #loss_and_profit .profit .squared {
    width: 20%;
    float: left;
    height: 30px;
    line-height: 30px;
   /* text-align: center;*/
}
#loss_and_profit .loss .squared input, #loss_and_profit .profit .squared input {
    width: 14px;
    height: 14px;
} 
#loss_and_profit .loss .selector, #loss_and_profit .profit .selector {
    float: left;
    width: 40%;
}
#loss_and_profit .loss .compare, #loss_and_profit .profit .compare {
    width: 10%;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#loss_and_profit .loss .value, #loss_and_profit .profit .value {
    width: 29%;
    float: left;
    line-height: 28px;
    height: 28px;
    text-align: center;
}
